<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="label">

            <button mat-fab>
                <mat-icon>perm_phone_msg</mat-icon>
                <span>Contactanos</span>
            </button>
            <button mat-fab routerLink="/about-company">
                <mat-icon>help</mat-icon>
                <span>Acerca de</span>
            </button>
            <button mat-fab >
                <mat-icon>description</mat-icon>
                <span>Politicas de uso</span>
            </button>
            <button mat-fab routerLink="/card">
                <mat-icon>credit_card</mat-icon>
                <span>Agregar tarjeta</span>
        </button>
            <button mat-fab routerLink="/profile">
                <mat-icon>person</mat-icon>
                <span >Perfil</span>
            </button>
            
        </div>

    </div>
</body>
</html>
