<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="label">
            <button mat-fab>
                <mat-icon>perm_phone_msg</mat-icon>
                <label>Contactanos</label>
            </button>
            <button mat-fab extended>
                <mat-icon>help</mat-icon>
                <label>Acerca de</label>
            </button>
            <button mat-flat-button routerLink="/about-company">
                <mat-icon>description</mat-icon>
                <label>Politicas de uso</label>
            </button>
            <button mat-fab>
                <mat-icon>credit_card</mat-icon>
                <label for="">Agregar tarjeta</label>
        </button>
            <button mat-fab>
                <mat-icon>person</mat-icon>
                <label >Perfil</label>
            </button>
            
        </div>

    </div>
</body>
</html>
