# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
backend/node_modules/
frontend/node_modules/
node_modules
# Environment files
backend/.env
*.env
*.env.local
.env.*

# Compiled output
/dist
/dist/
/build
/build/

/coverage
/coverage/

# Angular build output
frontend/dist/
frontend/.angular/

# System files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Optional npm cache directory
.npm/

# TypeScript
*.tsbuildinfo

# OS-specific
ehthumbs.db
Icon?
Desktop.ini

# IDEs
.idea/
*.sw?
*.swo