<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="titulo">
            <img src="assets/images/logoGrisFondo.png" alt="">
            <h1>FinanTrack</h1>
        </div>
        <div class="icon">
            <mat-icon>outgoing_mail</mat-icon>
            <h3>Revisa tu correo electronico</h3>
            <p>Hemos enviando instrucciones al correo que indicaste</p>
        </div>

    </div>
</body>
</html>