.navbar{
    width: 200px;
    height: 200px;
    position: relative;
    left: 50px;
    
}

.navbar img {
    width: 200px;
}

.navbar a {
    font-size: xx-large;
    color: #990066;
    position: relative;
    top: -55px;
    left: 75%;
    font-family: ' nimbus' !important;
    font-style: oblique;
    font-weight: bold;
    

}
.container {
    display: flex;
    position: relative;
    right: 10px;
    top: -50px;
}
.mb-3 {
    margin: 10px;
    color: blueviolet;
    border-color: blueviolet;
}
.input-form{
    border-color: #990066;
    border-radius: 15px;
    width: 200px;
    height: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin:  5px 155px;
    padding: 10px;
    text-align:center;

}

.container-fluid{
    width: 300px;
    position: relative;

}
.contbutton {
    position: relative;
    right: 25px;
}


.btn{
    margin: 10px;
    top: 20px;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border-color: #990066;
    background-color: #9b2949;
    color: white;
    margin-left: 210px;
    font-weight: bold;
    

}

.btn:active {
    background-color: #990066;
    color: white;
}

.contchecklist{
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 20px;
    margin-left: 150px;
    color: #990066;
    position: relative;
}

.checklist{
    margin: 10px;
    

}
label{
    text-decoration: underline;
    
}


