<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <nav class="navbar">
        <img src="assets/images/logoVino.png" alt="logo">
        <a class="navbar-brand" >FinanTrack</a>
    </nav>
    <div class="container">
        <div class="mb-3">
            <input type="text" placeholder="Ingrese su nombre" class="input-form" id="nombre" required>
            <input type="email" placeholder="Ingrese su correo electronico" class="input-form" id="email" required>
            <input type="tel" placeholder="Ingrese su telefono" class="input-form" id="telefono" required>
            <input type="password" placeholder="Ingrese su contraseña" class="input-form" id="password" required>
            <input type="password" placeholder="Vuelva a ingresar su contraseña" class="input-form" id="passwordConf" required>
            <div class="contchecklist">
                <input  type="checkbox" value="" id="checkDefault" class="checklist">
                <label class="textCondiciones" for="defaultCheck1" routerLink="/condicones" >He leido y acepto las condiciones</label>
            </div>
            <div class="contbutton">
                <button type="button" class="btn">Ingresar</button>
            </div>
        </div>
    </div>
</body>
</html>