<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registro</title>
    <img src="assets/images/Finantracklogo.png" alt="Logo FinanTrack" />
</head>
<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <img src="assets/images/Finantracklogovino.png"   alt="logo">
            <a class="navbar-brand" >FinanTrack</a>
        </div>
      </nav>
    <div class="container">
        <div class="mb-3">
            <input type="text" placeholder="Ingrese su nombre" class="input-form">
            <input type="email" placeholder="Ingrese su correo electronico" class="input-form">
            <input type="tel" placeholder="Ingrese su telefono" class="input-form">
            <input type="password" placeholder="Ingrese su contraseña" class="input-form">
            <input type="password" placeholder="Vuelva a ingresar su contraseña" class="input-form">
            <div class="contchecklist">
                <input  type="checkbox" value="" id="checkDefault" class="checklist">
                <label class="textCondiciones" for="defaultCheck1" >He leido y acepto las condiciones</label>
            </div>
            <div class="contbutton">
                <button type="button" class="btn">Ingresar</button>
            </div>
            
        </div>
    </div>
    
    <div class="contenedor">
        <div class="circulo">
            <span>Bienvenidos</span>
            <img src="assets/images/Finantracklogo.png" alt="Logo FinanTrack" />
            <a class="navbar-brand" >FinanTrack</a>
            <h4>Su control de gastos es ahora</h4>
        </div>
    </div>
    
    
    
</body>
</html>