body{
    background-color: var(--clr-surface-a20);
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.terminos h3{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    font-family: var(--font-family-normal);
    color: var(--color-accent);

}

.terminos p{
    text-align: center;
    font-family: var(--font-family-normal);
    color: var(--color-accent);

}
button{
    width: 100px;
    height: 40px;
    background-color: var(--color-primary-dark);
    color: var(--color-text-inverse);

}

