<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="contenedor">
        <div class="contImg">
            <img src="assets/images/perfil.webp" alt="">
            <div class="container">
                <h4>Nombre:</h4>
                <label for="">Marcela</label>
                <h4>Correo Electronico:</h4>
                <Label>marce.gonzalez&#64;gmail.com</Label>
                <h4>Numero Celular:</h4>
                <label for="">+56987412356</label>
                <div class="containerButton">
                    <button>Eliminar cuenta</button>
                    <button>Cerrar Sesión</button>
                </div>
                <div class="BotonIcons">
                    <button>
                        <mat-icon></mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>