
body{
    overflow: hidden;
}

.container{
    margin-top: -280px;
    margin-left:240px;
}


.contImg{
    margin-left: 30px;
    margin-top:30px;
  
}



img{
    width: 200px;
    border-radius: 30px;
}

label{
    border: none;
    background-color: var(--color-accent);
    border-radius: 20px;
    color: var(--color-text-inverse);
    padding: 5px;
}

button{
    background-color: var(--color-accent);
    color: var(--color-text-inverse);
    padding: 15px;
    border: none;
    border-radius: 15px;
}

.containerButton{
    margin: 30px;
    display: flex;
    gap: 10px;
    position: relative;
    right: 30px;
    
   
}
h4{
    color:var(--color-text);
}

.BotonIcons{
   display:flex;
   margin-top:10px;
   margin-left: 40px; ;
   gap:10px;
    
}

.buttonEdit{
    margin-left: 220px;
    margin-top: -30px;
}

.buttonEditc{
    margin-left: 130px;
    margin-top: -35px;
}

