<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="imgInicio">
            <img src="assets/images/logoBlanco.png" alt="">
            <h1>FinanTrack</h1>
            </div>
        <div class="titulo">
            <h1>¿HAS OLVIDADO TU CONTRASEÑA?</h1>
        </div>
        <div class="input">
            <input type="email" placeholder="Ingresa tu correo electronico">
            <div class="buttons">
                <button mat-fab>Cancelar</button>
                <button mat-fab>Aceptar</button>

            </div>

        </div>

    </div>
    
</body>
</html>