<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="terminos">
            <h3>Terminos y condiciones</h3>
            <p>Tendremos solamente acceso a sus movimientos bancarios</p>
            <p>Tenemos en cuenta la ley de N° 21.719 solo se guardaran datos como nombre, correo, numero de telefono</p>
            
        </div>
        <div class="buttons">
            <button mat-fab>Aceptar</button>
        </div>
    </div>
</body>
</html>
