.container-img {
    display:flex;
    justify-content: center;
    margin-top: 20px;
}

img {
    width: 700px;
    border-radius: 35px;
}

h2{
    color: var(--color-text);
}

.container-acerca{
    text-align: center;
    color: var(--color-primary);
    justify-content: center;
   

    
}

.container-img-bank{
    display: flex;
    justify-content: center;
    gap: 55px;
    

}


.bancos{
    width: 150px;
    border-radius: 40px;
}

h5{
    color: var(--color-text);
}

.icon{
    display: flex;
    justify-content: center;
    color: var(--color-text);

   
}

.container-info{
    display: flex;
    justify-content: center;
    align-items: center;
}


