<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registro</title>
    <img src="assets/images/Finantracklogo.png" alt="Logo FinanTrack" />
</head>
<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <img src="assets/images/Finantracklogovino.png" alt="logo">
            <a class="navbar-brand" >FinanTrack</a>
        </div>
      </nav>
    <div class="contenedor">
        <div class="mb-3">
            <input type="text" placeholder="Ingrese su nombre">
            <input type="email" placeholder="Ingrese su correo electronico">
            <input type="tel" placeholder="Ingrese su telefono">
            <input type="password" placeholder="Ingrese su contraseña">
            <input type="password" placeholder="Vuelva a ingresar su contraseña">
        </div>
        <div class="cont">
            <div class="circulo">
                <div class="contenido">
                    <h1>Bienvenidos</h1>
                    <img src="assets/images/Finantracklogo.png" alt="logo" />
                    <p>Su control de gastos es ahora</p>
                </div>
    
            </div>
        </div>
    </div>
    
    
    
</body>
</html>
 
