<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="titulo">
            <img src="assets/images/logoBlanco.png" alt="">
            <h1>FinanTrack</h1>
            <h4>Recuperacion de contraseña</h4>
            <div class="input">
                <input type="password" placeholder="Nueva contraseña">
                <input type="password" placeholder="Repetir contraseña">
            </div>

            <div class="buttons">
                <button mat-fab>Recuperar contraseña</button>
            </div>

        </div>


    </div>
</body>
</html>
