<mat-nav-list class="logo">
  <mat-icon class="icon">account_balance_wallet</mat-icon>
  <span class="brand-name">Finantrack</span>
</mat-nav-list>

<mat-nav-list class="menu-items">
  <a mat-list-item routerLink="/dashboard" routerLinkActive="active">Panel de Control</a>
  <a mat-list-item routerLink="/card" routerLinkActive="active">Tarjetas</a>
  <a mat-list-item routerLink="/movements" routerLinkActive="active">Historial de Movimientos</a>
  <a mat-list-item routerLink="/analytics" routerLinkActive="active">Análisis y Proyección</a>
  <a mat-list-item routerLink="/categories" routerLinkActive="active">Categorización</a>
  <a mat-list-item routerLink="/upcoming-transactions" routerLinkActive="active">Próximos Movimientos</a>
  <a mat-list-item routerLink="/subscriptions" routerLinkActive="active">Suscripciones</a>
</mat-nav-list>

<mat-nav-list class="sidebar-footer">
  <a mat-list-item>Configuraciones</a>
  <a mat-list-item routerLink="/about-company" >Acerca de la empresa</a>
  <a mat-list-item routerLink="/login" >Cerrar sesión</a>
</mat-nav-list>
