<div class="auth-container">
    <mat-card>
      <mat-card-title>Recuperar Contraseña</mat-card-title>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="requestPasswordReset()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" placeholder="Correo electrónico">
          <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('required')">
            El correo es requerido
          </mat-error>
          <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('email')">
            Debe ser un correo válido
          </mat-error>
        </mat-form-field>
  
        <button mat-raised-button color="primary" type="submit" [disabled]="!forgotPasswordForm.valid || loading || emailSent">
          <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
          <span *ngIf="!loading">Enviar Instrucciones</span>
        </button>
      </form>
  
      <div *ngIf="emailSent" class="confirmation-message">
        <mat-icon>check_circle</mat-icon>
        <p>Se enviaron las instrucciones a tu correo.</p>
      </div>
    </mat-card>
  </div>