<div class="container-login">
  <div class="contenedor">
    <div class="card" style="width: 20rem;">
      <div class="card-body">
        <div class="container">
          <img src="assets/images/logoVino.png" alt="">
          <h4>FinanTrack</h4>
        </div>
        <input type="text" placeholder="Ingrese su correo electronico" class="input-form">
        <input type="text" placeholder="Ingrese su contraseña" class="input-form">
        <div class="contButton">
        <button routerLink="/dashboard">Iniciar sesión</button>
        <a>¿Olvido su contraseña?</a>
        <button routerLink='/register'>Registrarse</button>
        </div>
        
      </div>
    </div>
  </div>
  <div>
    <h1>Bienvenidos</h1>
    <img src="assets/images/imagenBienvenidos.jpg" alt="" class="img-bienvenidos">
  </div>
</div>