:host {
  display: block;
  height: 100%;
  width: 100%;
  max-height: 100vh; /* Evita expansión infinita */
  overflow: hidden;
}
h3{
    margin: 0px;
    text-align: center;
    font-size: var(--font-size-xl);
}
.title-section {
  margin: 0px;
  text-align: center;
  font-family: var(--font-family-bold);
  font-size: var(--font-size-xl);
  color: var(--color-primary-darkest);
}
.container-transactions {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr; /* ← que las filas se expandan */
  grid-template-areas:
    "table"
    "graphs";
  overflow: hidden;
}

.table-transactions {
  display: flex;
  flex-direction: column;
  height: 90%;
  overflow: hidden;
}
.table-transactions,
.section-graphs {
  min-height: 0; /* ← necesario para evitar que se rompa el grid */
  overflow: hidden;
}
.table-transactions ag-grid-angular {
  flex: 1;
  width: 100%;
  min-height: 0;
  overflow: auto;
}
.btn-add {
  margin-top: 0.5rem;
  align-self: flex-end;
  background-color: var(--color-primary);
  color: var(--color-text-inverse);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-family: var(--font-family-bold);
  cursor: pointer;
}
.section-graphs {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  height: 90%;
  width: 95%;
  overflow: hidden;
}
.section-percentage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.card-summary {
  background-color: var(--clr-surface-a10);
  border-radius: 0.75rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family-bold);
  color: var(--color-text);
  text-align: center;
}
.card-summary.a{
  background-color: var(--color-primary-darkest);
  color: var(--color-text-inverse);
}
.card-summary.b{
  background-color: var(--color-primary-dark);
  color: var(--color-text-inverse);
}
.card-summary h3 {
  font-size: var(--font-size-md);
  margin: 0;
}
.card-summary p {
  font-size: var(--font-size-xxl);
  margin: 0px;
  font-weight: bold;
}
.sub-table {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-surface-a10);
  font-family: var(--font-family-normal);
  color: var(--color-text);
  overflow: hidden;
}
.sub-table ag-grid-angular {
  flex: 1;
  width: 100%;
  overflow: auto;
  height: 100%;
}

.chart-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-surface-a10);
  border-radius: 1rem;
  padding: 0.5rem;
  overflow: hidden;
}
.chart-wrapper ngx-charts-pie-chart {
  flex: 0 0 80%;
  width: 100%;
  height: 100%;
}

/* Layout horizontal en pantallas grandes */
@media (min-width: 1025px), (min-height: 801px) {
  .container-transactions {
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "table graphs";
  }
  .table-transactions {
    grid-area: table;
  }

  .section-graphs {
    grid-area: graphs;
  }
  .chart-wrapper {
    display: flex;
  }
}

/* Cambiar a layout vertical en pantallas pequeñas */
@media (max-width: 1024px), (max-height: 800px) {
  .container-transactions {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px;
    padding: 0.1rem;
    grid-template-areas:
      "table"
      "graphs";
  }
  .table-transactions {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 97%;
      overflow: hidden;
  }
  .card-summary {
      padding: 10px;
      p{
          font-size: var(--font-size-md);
      }
      h3{
          font-size: var(--font-size-sm);
      }
  }
  .chart-wrapper{
      display: none;
  }
  .section-graphs{
      display: flex;
      flex-direction: column;
      gap: 0px;
      height: 100%;
      min-height: 0;
      width: 97%;
      overflow: hidden;
  }
  .table-transactions ag-grid-angular,
  .sub-table ag-grid-angular {
    height: 100%;
    min-height: 0;
    overflow: auto;
    flex: 1;
  }
}
::ng-deep .ag-paging-panel {
border-top: var(--ag-footer-row-border);
display: flex;
gap: calc(var(--ag-spacing) * 4);
height: max(var(--ag-row-height), 22px);
justify-content: center;
padding: 0 var(--ag-cell-horizontal-padding);
align-items: center; 
}
::ng-deep .chart-legend .legend-title{
  font-family: var(--font-family-bold) !important;
  font-size: var(--font-size-md) !important;
  color: var(--color-text) !important;
  margin: 0px !important;
  text-align: center;
  padding: 10px;
  }
  ::ng-deep .chart-legend .legend-labels {
  list-style: none;
  text-align: left;
  float: left;
  width: 100%;
  border-radius: 3px;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
  background: var(--color-bg-gray);
  color: var(--color-text);
  text-align: center;
}
::ng-deep .chart-legend .legend-label .active .legend-label-text {
  color: var(--color-text) !important;
}

::ng-deep .chart-legend .legend-label-text {
  display: inline-block;
  vertical-align: top;
  font-size: var(--font-size-md);
  color: var(--color-primary-dark);
  font-family: var(--font-family-bold) !important;
  width: calc(100% - 20px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
  ::ng-deep ngx-charts text {
  font-family: var(--font-family-normal) !important;
  fill: var(--color-text) !important;
  font-size: var(--font-size-sm) !important;
  }
  ::ng-deep .ngx-charts text {
  font-family: var(--font-family-normal) !important;
  font-size: var(--font-size-sm) !important;
  fill: var(--color-text) !important;
  }