<div class="container-transactions">
    <!-- Izquierda: Tabla + Botón -->
    <div class="table-transactions">
      <h2 class="title-section">Próximos Movimientos</h2>
      <ag-grid-angular
        class="ag-theme-alpine"
        [columnDefs]="columnDefs"
        [rowData]="rowData"
        [pagination]="true"
        [paginationPageSize]="5"
        [singleClickEdit]="true"
        [stopEditingWhenCellsLoseFocus]="true"
        [rowSelection]="'single'"
        [theme]="myTheme"
        rowModelType="clientSide"
        (gridReady)="onGridReady($event)"
        (gridSizeChanged)="onGridSizeChanged($event)">
      </ag-grid-angular>
      <button class="btn-add">+ Agregar Movimiento</button>
    </div>
    <!-- Grafico gastos -->
    <div class="chart-wrapper" #chartContainer>
      <ngx-charts-pie-chart
        [results]="categoriasPorGasto"
        [scheme]="colorScheme"
        [legend]="true"
        [legendTitle]="'Leyenda'"
        [explodeSlices]="false"
        [labels]="true"
        [legendPosition]="below"
        [animations]="true"
        [doughnut]="true"
        [view]="chartView">
      </ngx-charts-pie-chart>
    </div>
  </div>
  